{% set postFormatClass = postFormat ? '-'~postFormat : '' %}
{% set postFormatRead = postFormat? fn('get_post_format', post) : '' %}
<!-- content.twig -->
{% block content %}
  <article id="post-{{ post.id }}" class="c-post-thumb{{ postFormatClass }} {{ post.class }}">
  {% if post.thumbnail %}
    <div class="c-post-thumb__feature-image{{ postFormatClass }}">
      <div class="feature-image">
        <img src="{{ post.thumbnail.src('feature500') }}" class="feature-image__img" alt="{{ post.title }}"/>
      </div>
    </div>
  {%  endif %}

    <header class="entry-header c-post-thumb__header{{ postFormatClass }} ">
      <div class="c-post-thumb__cat-banner">{{ mediaCategory }}</div>
      <h2 class="entry-title c-post-thumb__heading{{ postFormatClass }}">
        <span class="c-post-thumb__title{{ postFormatClass }}">
          <a class="c-post-thumb__title-link{{ postFormatClass }}" href="{{ post.link }}">{{ post.title }}</a>
        </span>
      </h2>
      <div class="entry-meta post__post-meta{{ postFormatClass }}">
        {% include 'inc/post-meta.twig' %}
      </div>
    </header>

    {% if  post.meta('rich_excerpt') != '' %}
      <div class="entry-content c-post-thumb__body{{ postFormatClass }}">
        {{ post.meta('rich_excerpt') }}


        {% if  post.content != '' %}
          <a href="{{ post.link }}" class="c-post-thumb__read-more{{ postFormatClass }}">Read More</a>
        {% endif %}
      </div>
    {% elseif  post.post_excerpt != '' %}
      <div class="entry-content c-post-thumb__body{{ postFormatClass }}">
        {{ post.post_excerpt }}
        <a href="{{ post.link }}" class="c-post-thumb__read-more{{ postFormatClass }}">Read More</a>
      </div>

    {% else %}
      <div class="entry-content c-post-thumb__body{{ postFormatClass }}">
        <p>{{ post.content | striptags | truncate(60) }}</p>
        <a href="{{ post.link }}" class="c-post-thumb__read-more{{ postFormatClass }}">Read More</a>
      </div>

    {% endif %}


    <footer class="c-post-thumb__footer{{ postFormatClass }}">
      <a class="c-btn--media-link" href="{{ post.meta('media_link_url') }}" title="{{ post.meta('media_link_url') }}" >Listen Now</a>
      {% if post.comment_count > 0   %}
      <a class="c-post-thumb__comment-link{{ postFormatClass }}" href="{{ post.link }}#comments">
        <span>{{ post.comment_count }} Comments </span>
      </a>
      {% endif %}

    </footer>

  </article>
{% endblock %}
