<div class="post-meta">

  <div class="post-meta__post-type">
    <div class="post-type">
      <svg class="icon post-type__icon" role="img" aria-label="Post type {{ postFormat }}" preserveAspectRatio="none">
        <title>{{ postFormat }}</title>
        <desc>Post type {{ postFormat }}</desc>
        <use xlink:href="#post-{{ postFormat }}"/>
      </svg>
    </div>
  </div>


  {% if post.terms('tag') %}
    <div class="post-meta__section--post-tags">
      <div class="post-tags">
        <span class="post-tags__label">Tags</span>
        <ul class="post-tags__list">
          {% for term in post.terms('tag') %}
            <li class="post-tags__item" ><a class="post-tags__link" href="{{ term.link }}"><span class="post-tags__link-label">{{ term }}</span></a></li>
          {% endfor %}
        </ul>
      </div>
    </div>
  {% endif %}

  <span class="post-meta__post-date">{{ post.date }}</span>
{% if postEditUrl != '' %}
  <span class="post-meta__post-edit">
  <a  class="post-meta__post-edit-link" href="{{ postEditUrl }}" title="Edit {{ post.title }}">Edit</a>
  </span>
{% endif %}

</div>